/* You can add global styles to this file, and also import other style files */
:host {
    --app-header-height: 64px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}