<header class="app-header">
    <div class="container header-inner">
        <a class="brand" routerLink="/products">
            <img src="main-logo.svg" alt="logo" />
            <span class="brand-text">The Scoville Inferno</span>
        </a>

        <nav class="nav">
            <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Community</a>
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Resources</a>
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Contact</a>
            <a class="nav-link" routerLink="/admin/products" routerLinkActive="active">Management</a>
        </nav>

        <div class="actions">
            @if (!isAuthenticated()) {
                <a routerLink="/login"><button pButton label="Sign in" severity="secondary" outlined="true">Sign in</button></a>
            <a routerLink="/register"><button pButton label="Register">Register</button></a>
            }
            @if (isAuthenticated()) {
                <button (click)="logout()" pButton label="Logout" severity="secondary" outlined="true">Logout</button>
            } 
        </div>
    </div>
</header>
